pupilsense/pre_trained_models/ResNet18/left_eye.pt filter=lfs diff=lfs merge=lfs -text
pupilsense/pre_trained_models/ResNet18/*.pt filter=lfs diff=lfs merge=lfs -text
pupilsense/pre_trained_models/ResNet50/*.pt filter=lfs diff=lfs merge=lfs -text
